if (is_archive())
  - var top_img = theme.archive_img ||theme.top_img || config.top_img
else
  - var top_img = page.top_img||theme.top_img || config.top_img

- var bg_img = top_img && top_img !== true ? `background-image: url(${top_img})` : ''


if is_home()
  nav#nav.full_page(style=bg_img)
    include ./header.pug
    canvas#rain(style='display:block;width:100%;height:100%;')
    #site-info
      #site-title
        //span.blogtitle= page.title || page.tag || page.category || config.title
        span.glitch(data-text="A") A
        span.glitch(data-text="k") k
        span.glitch(data-text="i") i
        span.glitch(data-text="J") J
        span.glitch(data-text="o") o
        span.glitch(data-text="e") e
        span.glitch(data-text="y") y
      #site-sub-title
        span.subtitle
        
      if(theme.social)
        #site-social-icons
          each url, icon in theme.social
            a.social-icon(href=url target="_blank")
              i(class=icon)
      
    .scroll-down
      i.fa.fa-angle-down.scroll-down-effects

else
  nav#nav.bg_local(style=bg_img)
    include ./header.pug
    #page_site-info
      #site-title
          if (is_archive()) 
            span.blogtitle= _p('archives')
          else
            span.blogtitle= page.title || page.tag || page.category || config.title