include ../utils/variables.pug

doctype html
html(lang=config.language)
  head
    //- base
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name ="format-detection" content="telephone=no")
    
    //- title
    title= title

    //- information
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    meta(name="author" content=author)
    meta(name="copyright" content=copyright)
    
    //- favicon
    != favicon_tag(config.favicon || theme.favicon || '/favicon.ico')

    //- cdn styles
    if theme.cdn.css !== undefined
      each url in theme.cdn.css
        link(rel='stylesheet', href=url)

    //- local styles
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel='stylesheet', href=url_for(url))

    include additional-head.pug
  
  body
    //- layout
    include header.pug
    include content.pug
    include footer.pug

    //- cdn scripts
    if theme.cdn.js !== undefined
      each url in theme.cdn.js
        script(src=url)

    //- local scripts
    if theme.scripts !== undefined && theme.scripts.length > 0
      each url in theme.scripts
        script(src=url_for(url))
    
    include additional-js.pug
